<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link href="/static/fomanticui/semantic.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    {% block style %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="/static/js/html5shiv.min.js"><\/script>')</script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container">
        {% block menu %}
        <nav class="ui labeled icon menu">
            {% if logo_url %}
            <div class="header item">
                <a href="{{ url_for("public.index") }}" class="logo">
                    <img class="ui image" src="{{ logo_url }}" alt="{{ website_name }}" />
                </a>
            </div>
            {% endif %}
            {% if is_manager %}
                <a class="item" href="{{ url_for('account.user_add') }}">
                    <i class="user plus icon"></i>
                    Nouvel utilisateur
                </a>
                <a class="item" href="{{ url_for('account.users') }}">
                    <i class="address book outline icon"></i>
                    Utilisateurs
                </a>
            {% endif %}
            {% if not user %}
                <a class="item" href="{{ url_for('public.login') }}">
                    <i class="sign in alternate icon"></i>
                    Connexion
                </a>
            {% else %}
                <a class="item" href="{{ url_for('account.user', user_id=user) }}">
                    <i class="id card icon"></i>
                    Mon profil
                </a>
                <a class="item" href="{{ url_for('public.logout') }}">
                    <i class="sign out alternate icon"></i>
                    Déconnexion
                </a>
            {% endif %}
        </nav>
        {% endblock %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/fomanticui/semantic.min.js"></script>
    <script src="/static/js/base.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
