{% extends 'base.html' %}
{% import 'fomanticui.j2' as fui %}

{% block content %}
<div class="loginform">
    <h3 class="ui top attached header">
      Connexion
    </h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="ui attached message {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    <div class="ui attached clearing segment">
        {{ fui.render_form(form, None, action=url_for("public.login")) }}
        <br />
        <button type="submit" class="ui right floated primary button" form="loginform">Se connecter</button>
        <a href="{{ url_for("public.forgotten") }}" class="ui right floated cancel button">Mot de passe oublié</a>
    </div>
</div>
{% endblock %}
