{% extends 'base.html' %}
{% import 'fomanticui.j2' as fui %}

{% block content %}
<div class="loginform">
    <h3 class="ui top attached header">
        Réinitialisation du mot de passe
    </h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="ui attached message {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    <div class="ui attached clearing segment">
        {{ fui.render_form(form, "Réinitialiser le mot de passe", action=url_for("public.reset", uid=uid, hash=hash)) }}
    </div>
</div>
{% endblock %}
