{% extends 'base.html' %}
{% import 'fomanticui.j2' as fui %}

{% block content %}
<div class="loginform">
    <h3 class="ui top attached header">
      Mot de passe oublié
    </h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="ui attached message {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    <div class="ui attached message">
        Après envoi de ce formulaire, si l'identifiant ou l'adresse email que
        vous indiquez existe, vous recevrez un email contenant un lien qui
        vous permettra de ré-initialiser votre mot de passe.
    </div>
    <div class="ui attached clearing segment">
        {{ fui.render_form(form, "Réinitialiser le mot de passe", action=url_for("public.forgotten")) }}
    </div>
</div>
{% endblock %}
