{% extends 'base.html' %}
{% import 'fomanticui.j2' as sui %}

{% block content %}
<div class="loginform">
    <h3 class="ui top attached header">
        Édition du profil
    </h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="ui attached message {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    <div class="ui attached clearing segment">
        {{ sui.render_form(form, "Envoyer") }}
    </div>
</div>
{% endblock %}
