{% extends 'base.html' %}

{% block style %}
    <link href="/static/datatables/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/datatables/dataTables.semanticui.min.css" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="/static/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/datatables/dataTables.semanticui.min.js"></script>
    <script src="/static/js/users.js"></script>
{% endblock %}

{% block content %}
<div class="ui basic modal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Confirmer la suppression ?
    </div>
    <div class="content">
        <p>Êtes-vous sûrs de vouloir supprimer cet utilisateur ?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button">
            <i class="remove icon"></i>
            Non
        </div>
        <div class="ui red ok inverted button delete-confirmation">
            <i class="checkmark icon"></i>
            Oui
        </div>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="ui attached message {{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endwith %}

<table class="ui table">
    <thead>
        <th>Identifiant</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Actions</th>
    </thead>
    {% for user in users %}
    <tr>
        <td>{{ user.uid }}</td>
        <td>{{ user.givenName }}</td>
        <td>{{ user.sn }}</td>
        <td><a href="mailto:{{ user.mail }}">{{ user.mail }}</a></td>
        <td>
            <div class="ui icon buttons">
                <a class="ui button" href="{{ url_for('account.user', user_id=user.uid) }}">
                    <i class="edit icon"></i>
                </a>
                <a class="ui button delete-user" href="{{ url_for('account.user_del', user_id=user.uid) }}">
                    <i class="trash icon"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
